.input-items{
    border-radius: 8px !important;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    padding:5px;

}
.label-items{
    color:#104F55 !important;
  
}